OPENAI_API_KEY="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" # replace with real API key from https://platform.openai.com/api-keys
ASSISTANT_ID="asst_HLsYv7CroqIc1tG6R4U8P9Nw" # replace with real assistant ID from https://platform.openai.com/api-keys 