.chat-window {
 background-color: white;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

.chat-message-user {
  color: green;
}

.chat-message-bot {
  color: blue;
}

.chat-message-user,
.chat-message-bot {
  text-align: left;
  margin-bottom: 10px;
}

.chat-messages-container {
  height: calc(100% - 100px);
  overflow-y: scroll;
  padding: 10px;
  margin-bottom: 10px;
}

.chat-bottom-panel {
  padding: 10px;
  bottom: 0;
  position: absolute;
  width: 100%;
  bottom: 0;;
}

.chat-send-button {
  float: right;
  margin-right: 14px;
}

.chat-input {
  float: left;
  width: calc(100% - 300px);
  margin-left: 14px;
}
